<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Welcome to Hi!drops</title>
    <link rel="stylesheet" href="style.css" />
    <script src=" "></script>
    <script src="lamp.js"></script>


  </head>

  <body>
  </body>
</html>

<main>
  <center>
    <h1>Welcome to Hi!drops</h1>
    <button class="button" type="button" onclick="changeState()" id="on_off">
      ON/OFF
    </button>
    <br>
    Lamp Status:
    <div class="lamp" id="lamp">
    </div>
    <br>
    Lamp Connection :
    <div class="connection"></div>
  </center>
</main>
